@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Schwifty";
    src: url(../src/assets/fonts/get_schwifty.ttf);
}

@font-face {
    font-family: "Shlop";
    src: url(../src/assets/fonts/shlop.otf);
}

.home {
    background: #00bf8f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #103e0d, #002a00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #001510, #002a00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.glass {
    background: rgba(4, 3, 3, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
  }

::-webkit-scrollbar-track {
    background: rgba(4, 3, 3, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
::-webkit-scrollbar {
    width: 16px;
    background: rgba(4, 3, 3, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
::-webkit-scrollbar-thumb {
    background: transparent;
    border: solid 2px #34e00e;
    border-radius: 10%;
}